makefiles/target.mk
.cproject
.project
.settings
*.a
*.o
*.d
*.pyc
*.tmp
*.dylib
*.exe
zlibrary/core/libzlcore.so*
zlibrary/text/libzltext.so*
zlibrary/ui/zlui-qt4.so
zlibrary/ui/zlui-gtk.so
zlibrary/ui/zlui-qt.so
fbreader/FBReader
/build/
!libs/**/*.a
!libs/**/*.so
!libs/**/*.dylib
3rd/*
!3rd/fetch.lua
!3rd/copy.lua
!3rd/xmake.lua
!3rd/pre
.vscode/settings.json
